{
  "openapi": "3.1.0",
  "info": {
    "title": "Liftx integrations",
    "version": "1.0.0",
    "description": "Preview contract for the Liftx API, TradingView webhook and session-owned integration settings. Production availability is pending activation and release qualification. External access requires Pro or trial entitlement and is unmetered within bounded resource limits. Receipt acceptance does not confirm execution completion. MCP is not active."
  },
  "servers": [
    {
      "url": "https://api.liftx.io"
    }
  ],
  "paths": {
    "/v1/discovery": {
      "get": {
        "operationId": "get_v1_discovery",
        "summary": "Discover API actions, scopes and bounds",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "const": "v1"
                    },
                    "command_actions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "limits": {
                      "type": "object",
                      "properties": {
                        "request_bytes": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "pending_per_user": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "command_lifetime_seconds": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "receipt_retention_days": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "group_targets": {
                          "type": "integer",
                          "const": 64
                        }
                      },
                      "required": [
                        "group_targets"
                      ],
                      "additionalProperties": true
                    },
                    "mcp_available": {
                      "const": false
                    }
                  },
                  "required": [
                    "version",
                    "command_actions",
                    "scopes",
                    "limits",
                    "mcp_available"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "synthetic": {
                    "summary": "Actual published contract values; not activation evidence",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "version": "v1",
                      "command_actions": [
                        "open",
                        "modify",
                        "terminate"
                      ],
                      "scopes": [
                        "read",
                        "positions:open",
                        "positions:modify",
                        "positions:terminate",
                        "templates:write"
                      ],
                      "limits": {
                        "request_bytes": 262144,
                        "pending_per_user": 64,
                        "group_targets": 64,
                        "command_lifetime_seconds": 300,
                        "receipt_retention_days": 30
                      },
                      "mcp_available": false
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Integration errors use Error; existing trading handlers retain their own JSON or text/plain error codec. Inspect status and content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-liftx-required-scope": ""
      }
    },
    "/v1/exchange-links": {
      "get": {
        "operationId": "get_v1_exchange_links",
        "summary": "List exact authorized linked accounts",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exchange_links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 9007199254740991
                          },
                          "exchange_id": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "environment": {
                            "type": "string",
                            "enum": [
                              "live",
                              "demo"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "exchange_id",
                          "environment"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "exchange_links"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "synthetic": {
                    "summary": "Synthetic success response",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "exchange_links": [
                        {
                          "id": 17,
                          "exchange_id": 1,
                          "environment": "demo"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Integration errors use Error; existing trading handlers retain their own JSON or text/plain error codec. Inspect status and content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-liftx-required-scope": "read"
      }
    },
    "/v1/commands": {
      "post": {
        "operationId": "post_v1_commands",
        "summary": "Durably admit a trading command",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Receipt"
                },
                "examples": {
                  "open": {
                    "summary": "Open accepted receipt",
                    "description": "Synthetic example corresponding to the named command request. Acceptance is not execution, exchange acknowledgement, fill or flatness.",
                    "value": {
                      "id": "11111111-1111-4111-8111-111111111111",
                      "client_command_id": "btc-controller:cycle-001:open",
                      "action": "open",
                      "state": "accepted",
                      "position_id": "11111111-1111-4111-8111-111111111111",
                      "error_code": null,
                      "created_at": 1893456000,
                      "updated_at": 1893456000
                    }
                  },
                  "modify": {
                    "summary": "Modify accepted receipt",
                    "description": "Synthetic example corresponding to the named command request. Acceptance is not execution, exchange acknowledgement, fill or flatness.",
                    "value": {
                      "id": "22222222-2222-4222-8222-222222222222",
                      "client_command_id": "btc-controller:cycle-001:modify-001",
                      "action": "modify",
                      "state": "accepted",
                      "position_id": "11111111-1111-4111-8111-111111111111",
                      "error_code": null,
                      "created_at": 1893456060,
                      "updated_at": 1893456060
                    }
                  },
                  "terminate": {
                    "summary": "Terminate accepted receipt",
                    "description": "Synthetic example corresponding to the named command request. Acceptance is not execution, exchange acknowledgement, fill or flatness.",
                    "value": {
                      "id": "33333333-3333-4333-8333-333333333333",
                      "client_command_id": "btc-controller:cycle-001:terminate",
                      "action": "terminate",
                      "state": "accepted",
                      "position_id": "11111111-1111-4111-8111-111111111111",
                      "error_code": null,
                      "created_at": 1893456120,
                      "updated_at": 1893456120
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Integration errors use Error; existing trading handlers retain their own JSON or text/plain error codec. Inspect status and content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Identical existing command",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Receipt"
                },
                "examples": {
                  "open": {
                    "summary": "Open accepted receipt; duplicate immutable intent",
                    "description": "Synthetic example corresponding to the named command request. Acceptance is not execution, exchange acknowledgement, fill or flatness.",
                    "value": {
                      "id": "11111111-1111-4111-8111-111111111111",
                      "client_command_id": "btc-controller:cycle-001:open",
                      "action": "open",
                      "state": "accepted",
                      "position_id": "11111111-1111-4111-8111-111111111111",
                      "error_code": null,
                      "created_at": 1893456000,
                      "updated_at": 1893456000
                    }
                  },
                  "modify": {
                    "summary": "Modify accepted receipt; duplicate immutable intent",
                    "description": "Synthetic example corresponding to the named command request. Acceptance is not execution, exchange acknowledgement, fill or flatness.",
                    "value": {
                      "id": "22222222-2222-4222-8222-222222222222",
                      "client_command_id": "btc-controller:cycle-001:modify-001",
                      "action": "modify",
                      "state": "accepted",
                      "position_id": "11111111-1111-4111-8111-111111111111",
                      "error_code": null,
                      "created_at": 1893456060,
                      "updated_at": 1893456060
                    }
                  },
                  "terminate": {
                    "summary": "Terminate accepted receipt; duplicate immutable intent",
                    "description": "Synthetic example corresponding to the named command request. Acceptance is not execution, exchange acknowledgement, fill or flatness.",
                    "value": {
                      "id": "33333333-3333-4333-8333-333333333333",
                      "client_command_id": "btc-controller:cycle-001:terminate",
                      "action": "terminate",
                      "state": "accepted",
                      "position_id": "11111111-1111-4111-8111-111111111111",
                      "error_code": null,
                      "created_at": 1893456120,
                      "updated_at": 1893456120
                    }
                  }
                }
              }
            }
          }
        },
        "x-liftx-required-scope": "action-specific positions permission",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Command"
              },
              "examples": {
                "open": {
                  "summary": "Limit OPEN with SL, price-trigger SLx and TP",
                  "description": "Synthetic link, catalog, timestamps and UUIDs. Resolve your actual catalog and current state; never replay these timestamps or modification slots. Examples represent separate lifecycle intents, not an executable trading script.",
                  "value": {
                    "client_command_id": "btc-controller:cycle-001:open",
                    "issued_at": 1893456000,
                    "expires_at": 1893456060,
                    "action": "open",
                    "exchange_link_id": 17,
                    "instrument_id": "BTC-USDT-SWAP",
                    "request": {
                      "action": 1,
                      "exchange_link_id": 17,
                      "instrument_id": "BTC-USDT-SWAP",
                      "quantity_asset": "BTC",
                      "position_side": 1,
                      "open_order_type": 1,
                      "open_prices_atomic": [
                        "70000"
                      ],
                      "open_prices_scale": [
                        0
                      ],
                      "open_quantities_atomic": [
                        "1"
                      ],
                      "open_quantities_scale": [
                        3
                      ],
                      "order_grid_enabled": false,
                      "margin_mode": 1,
                      "leverage": 2,
                      "sl_enabled": true,
                      "sl_type": 1,
                      "sl_step_percent": 2000000,
                      "sl_price_atomic": "68600",
                      "sl_price_scale": 0,
                      "sl_price_rearrangement": false,
                      "sl_order_type": 2,
                      "slx_enabled": true,
                      "slx_tp_trailing_enabled": false,
                      "slx_sl_trigger_price_trailing_enabled": true,
                      "slx_sl_trigger_price_trailing_pl_percent_activation": 1000000,
                      "slx_sl_trigger_price_trailing_indent_percent": 500000,
                      "slx_sl_trigger_price_trailing_step": 250000,
                      "slx_sl_trailing_breakeven_enabled": false,
                      "tp_enabled": true,
                      "tp_price_rearrangement": false,
                      "tp_grid_enabled": false,
                      "tp_order_type": 3,
                      "tp_prices_atomic": [
                        "72100"
                      ],
                      "tp_prices_scale": [
                        0
                      ],
                      "tp_quantities_atomic": [
                        "0"
                      ],
                      "tp_quantities_scale": [
                        0
                      ],
                      "tp_quantity_percents": [
                        1000000
                      ],
                      "tp_pnls": [
                        0
                      ]
                    }
                  }
                },
                "modify": {
                  "summary": "Fresh revision MODIFY preserving exact current rows",
                  "description": "Synthetic link, catalog, timestamps and UUIDs. Resolve your actual catalog and current state; never replay these timestamps or modification slots. Examples represent separate lifecycle intents, not an executable trading script.",
                  "value": {
                    "client_command_id": "btc-controller:cycle-001:modify-001",
                    "issued_at": 1893456060,
                    "expires_at": 1893456120,
                    "action": "modify",
                    "exchange_link_id": 17,
                    "instrument_id": "BTC-USDT-SWAP",
                    "position_id": "11111111-1111-4111-8111-111111111111",
                    "expected_revision": 7,
                    "request": {
                      "action": 1,
                      "exchange_link_id": 17,
                      "instrument_id": "BTC-USDT-SWAP",
                      "quantity_asset": "BTC",
                      "position_side": 1,
                      "open_order_type": 1,
                      "open_prices_atomic": [
                        "70000"
                      ],
                      "open_prices_scale": [
                        0
                      ],
                      "open_quantities_atomic": [
                        "1"
                      ],
                      "open_quantities_scale": [
                        3
                      ],
                      "order_grid_enabled": false,
                      "margin_mode": 1,
                      "sl_enabled": true,
                      "sl_type": 1,
                      "sl_step_percent": 1000000,
                      "sl_price_atomic": "69300",
                      "sl_price_scale": 0,
                      "sl_price_rearrangement": false,
                      "sl_order_type": 2,
                      "tp_enabled": true,
                      "tp_price_rearrangement": false,
                      "tp_grid_enabled": false,
                      "tp_order_type": 3,
                      "tp_prices_atomic": [
                        "72100"
                      ],
                      "tp_prices_scale": [
                        0
                      ],
                      "tp_quantities_atomic": [
                        "0"
                      ],
                      "tp_quantities_scale": [
                        0
                      ],
                      "tp_quantity_percents": [
                        1000000
                      ],
                      "tp_pnls": [
                        0
                      ],
                      "slx_enabled": false,
                      "open_slot_ids": [
                        "44444444-4444-4444-8444-444444444444"
                      ],
                      "tp_slot_ids": [
                        "55555555-5555-4555-8555-555555555555"
                      ]
                    }
                  }
                },
                "terminate": {
                  "summary": "Terminate one exact position",
                  "description": "Synthetic link, catalog, timestamps and UUIDs. Resolve your actual catalog and current state; never replay these timestamps or modification slots. Examples represent separate lifecycle intents, not an executable trading script.",
                  "value": {
                    "client_command_id": "btc-controller:cycle-001:terminate",
                    "issued_at": 1893456120,
                    "expires_at": 1893456180,
                    "action": "terminate",
                    "exchange_link_id": 17,
                    "instrument_id": "BTC-USDT-SWAP",
                    "position_id": "11111111-1111-4111-8111-111111111111"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_v1_commands",
        "summary": "List namespace command receipts",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptPage"
                },
                "examples": {
                  "page": {
                    "summary": "Synthetic top-level receipt page",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "commands": [
                        {
                          "id": "99999999-9999-4999-8999-999999999999",
                          "client_command_id": "signal-a:exit-001",
                          "action": "terminate",
                          "state": "partial",
                          "position_id": null,
                          "error_code": null,
                          "created_at": 1893456000,
                          "updated_at": 1893456060,
                          "group": {
                            "target": "strategy",
                            "target_count": 2,
                            "counts": {
                              "accepted": 0,
                              "dispatching": 0,
                              "execution_observed": 0,
                              "handed_off": 1,
                              "rejected": 0,
                              "expired": 1,
                              "operator_required": 0
                            }
                          }
                        },
                        {
                          "id": "11111111-1111-4111-8111-111111111111",
                          "client_command_id": "demo-controller:cycle-001:open",
                          "action": "open",
                          "state": "handed_off",
                          "position_id": "11111111-1111-4111-8111-111111111111",
                          "error_code": null,
                          "created_at": 1893456000,
                          "updated_at": 1893456001
                        }
                      ],
                      "next_cursor": null
                    }
                  },
                  "empty": {
                    "summary": "Synthetic empty receipt history",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "commands": [],
                      "next_cursor": null
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Integration errors use Error; existing trading handlers retain their own JSON or text/plain error codec. Inspect status and content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-liftx-required-scope": "",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/commands/get": {
      "get": {
        "operationId": "get_v1_commands_get",
        "summary": "Read an owned or same-account scoped receipt and bounded group detail",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Receipt"
                },
                "examples": {
                  "open_handed_off": {
                    "summary": "Synthetic OPEN owner evidence; not fill completion",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "id": "11111111-1111-4111-8111-111111111111",
                      "client_command_id": "demo-controller:cycle-001:open",
                      "action": "open",
                      "state": "handed_off",
                      "position_id": "11111111-1111-4111-8111-111111111111",
                      "error_code": null,
                      "created_at": 1893456000,
                      "updated_at": 1893456001
                    }
                  },
                  "modify_observed": {
                    "summary": "Synthetic MODIFY return; inspect current state",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
                      "client_command_id": "demo-controller:cycle-001:modify",
                      "action": "modify",
                      "state": "execution_observed",
                      "position_id": "11111111-1111-4111-8111-111111111111",
                      "error_code": null,
                      "created_at": 1893456000,
                      "updated_at": 1893456002
                    }
                  },
                  "termination_handed_off": {
                    "summary": "Synthetic durable close request; not proof of flatness",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "id": "bbbbbbbb-bbbb-4bbb-8bbb-bbbbbbbbbbbb",
                      "client_command_id": "demo-controller:cycle-001:terminate",
                      "action": "terminate",
                      "state": "handed_off",
                      "position_id": "11111111-1111-4111-8111-111111111111",
                      "error_code": null,
                      "created_at": 1893456000,
                      "updated_at": 1893456003,
                      "terminal_request_kind": 1,
                      "terminal_request_seq": 1
                    }
                  },
                  "uncertain_modification": {
                    "summary": "Synthetic unresolved modification; operator reconciliation required",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
                      "client_command_id": "demo-controller:cycle-001:modify",
                      "action": "modify",
                      "state": "operator_required",
                      "position_id": "11111111-1111-4111-8111-111111111111",
                      "error_code": "EXECUTION_UNCERTAIN",
                      "created_at": 1893456000,
                      "updated_at": 1893456002
                    }
                  },
                  "partial_group": {
                    "summary": "Synthetic two-target group with different resolved outcomes",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "id": "99999999-9999-4999-8999-999999999999",
                      "client_command_id": "signal-a:exit-001",
                      "action": "terminate",
                      "state": "partial",
                      "position_id": null,
                      "error_code": null,
                      "created_at": 1893456000,
                      "updated_at": 1893456060,
                      "group": {
                        "target": "strategy",
                        "target_count": 2,
                        "counts": {
                          "accepted": 0,
                          "dispatching": 0,
                          "execution_observed": 0,
                          "handed_off": 1,
                          "rejected": 0,
                          "expired": 1,
                          "operator_required": 0
                        }
                      },
                      "targets": [
                        {
                          "id": "bbbbbbbb-bbbb-4bbb-8bbb-bbbbbbbbbbbb",
                          "client_command_id": "liftx-group:99999999-9999-4999-8999-999999999999:11111111-1111-4111-8111-111111111111",
                          "action": "terminate",
                          "state": "handed_off",
                          "position_id": "11111111-1111-4111-8111-111111111111",
                          "error_code": null,
                          "created_at": 1893456000,
                          "updated_at": 1893456003,
                          "terminal_request_kind": 1,
                          "terminal_request_seq": 1,
                          "group_id": "99999999-9999-4999-8999-999999999999"
                        },
                        {
                          "id": "dddddddd-dddd-4ddd-8ddd-dddddddddddd",
                          "client_command_id": "liftx-group:99999999-9999-4999-8999-999999999999:cccccccc-cccc-4ccc-8ccc-cccccccccccc",
                          "action": "terminate",
                          "state": "expired",
                          "position_id": "cccccccc-cccc-4ccc-8ccc-cccccccccccc",
                          "error_code": "COMMAND_EXPIRED",
                          "created_at": 1893456000,
                          "updated_at": 1893456060,
                          "group_id": "99999999-9999-4999-8999-999999999999"
                        }
                      ]
                    }
                  },
                  "empty_group": {
                    "summary": "Synthetic zero-target capture; does not prove flatness",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "id": "99999999-9999-4999-8999-999999999999",
                      "client_command_id": "signal-a:exit-001",
                      "action": "terminate",
                      "state": "execution_observed",
                      "position_id": null,
                      "error_code": null,
                      "created_at": 1893456000,
                      "updated_at": 1893456060,
                      "group": {
                        "target": "strategy",
                        "target_count": 0,
                        "counts": {
                          "accepted": 0,
                          "dispatching": 0,
                          "execution_observed": 0,
                          "handed_off": 0,
                          "rejected": 0,
                          "expired": 0,
                          "operator_required": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Integration errors use Error; existing trading handlers retain their own JSON or text/plain error codec. Inspect status and content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-liftx-required-scope": "Own namespace: none. Another namespace: read and exact authorized link/instrument on the same account.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/positions/list": {
      "get": {
        "operationId": "get_v1_positions_list",
        "summary": "Read exact-link canonical positions page",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionsPage"
                },
                "examples": {
                  "page": {
                    "summary": "Synthetic complete active page",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "status": "active",
                      "exchange_link_id": 17,
                      "offset": 0,
                      "limit": 50,
                      "has_more": false,
                      "positions": [
                        {
                          "id": "11111111-1111-4111-8111-111111111111",
                          "user_id": 1,
                          "status": 1,
                          "revision": 7,
                          "instrument_id": "COPY_EXACT_CATALOG_ID",
                          "instrument_type": 2,
                          "instrument_topology": 2,
                          "position_side": 1,
                          "base": "BTC",
                          "quote": "USDT",
                          "exchange_link_id": 17,
                          "margin_mode": 1,
                          "leverage": 2,
                          "order_grid_enabled": false,
                          "open_orders": [
                            {
                              "row_id": 1,
                              "created_at_ms": 1893456000000,
                              "price_atomic": "70000",
                              "price_scale": 0,
                              "quantity_atomic": "1",
                              "quantity_scale": 4,
                              "executed": [],
                              "projected_order_status": 1,
                              "order_fsm_state": 2,
                              "exchange_submitted": true,
                              "slot_id": "SYNTHETIC_CURRENT_OPEN_SLOT",
                              "order_id": "33333333-3333-4333-8333-333333333333"
                            }
                          ],
                          "open_order_type": 1,
                          "sl_enabled": false,
                          "slx_enabled": false,
                          "tp_enabled": false,
                          "position_fsm_state": 2,
                          "created_at": 1893456000,
                          "updated_at": 1893456000,
                          "tick_step_atomic": "1",
                          "tick_step_scale": 1,
                          "lot_step_base_atomic": "1",
                          "lot_step_base_scale": 4,
                          "min_size_base_atomic": "1",
                          "min_size_base_scale": 4,
                          "contract_value_atomic": "1",
                          "contract_value_scale": 2,
                          "funding_fee_quote_atomic": "0",
                          "funding_fee_quote_scale": 0,
                          "alloc_open_executed_atomic": "0",
                          "alloc_open_executed_scale": 0,
                          "alloc_close_executed_atomic": "0",
                          "alloc_close_executed_scale": 0,
                          "alloc_net_exposure_atomic": "0",
                          "alloc_net_exposure_scale": 0,
                          "executed_cost_quote_atomic": "0",
                          "executed_cost_quote_scale": 0,
                          "next_funding_fee_quote_atomic": "0",
                          "next_funding_fee_quote_scale": 0,
                          "next_funding_time": 0
                        }
                      ]
                    }
                  },
                  "empty": {
                    "summary": "Synthetic complete empty active page",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "status": "active",
                      "exchange_link_id": 17,
                      "offset": 0,
                      "limit": 50,
                      "has_more": false,
                      "positions": []
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Integration errors use Error; existing trading handlers retain their own JSON or text/plain error codec. Inspect status and content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-liftx-required-scope": "read",
        "parameters": [
          {
            "name": "exchange_link_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ],
              "default": "active"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ]
      }
    },
    "/v1/balances": {
      "get": {
        "operationId": "get_v1_balances",
        "summary": "Read exact-link available balances",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Balances"
                },
                "examples": {
                  "complete": {
                    "summary": "Synthetic complete balance snapshot",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "exchange_link_id": 17,
                      "updates": [
                        {
                          "asset": "USDT",
                          "free_atomic": "100000",
                          "free_scale": 2
                        },
                        {
                          "asset": "BTC",
                          "free_atomic": "1",
                          "free_scale": 3
                        }
                      ],
                      "snapshot_complete": true
                    }
                  },
                  "incomplete": {
                    "summary": "Synthetic incomplete snapshot; not evidence of zero balances",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "exchange_link_id": 17,
                      "updates": [],
                      "snapshot_complete": false
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Integration errors use Error; existing trading handlers retain their own JSON or text/plain error codec. Inspect status and content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-liftx-required-scope": "read",
        "parameters": [
          {
            "name": "exchange_link_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          }
        ]
      }
    },
    "/v1/positions/get": {
      "get": {
        "operationId": "get_v1_positions_get",
        "summary": "Read canonical position get",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Position"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": true
                },
                "examples": {
                  "synthetic": {
                    "summary": "Synthetic pending unprotected position; independent illustration",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "success": true,
                      "data": {
                        "id": "11111111-1111-4111-8111-111111111111",
                        "user_id": 1,
                        "status": 1,
                        "revision": 7,
                        "instrument_id": "COPY_EXACT_CATALOG_ID",
                        "instrument_type": 2,
                        "instrument_topology": 2,
                        "position_side": 1,
                        "base": "BTC",
                        "quote": "USDT",
                        "exchange_link_id": 17,
                        "margin_mode": 1,
                        "leverage": 2,
                        "order_grid_enabled": false,
                        "open_orders": [
                          {
                            "row_id": 1,
                            "created_at_ms": 1893456000000,
                            "price_atomic": "70000",
                            "price_scale": 0,
                            "quantity_atomic": "1",
                            "quantity_scale": 4,
                            "executed": [],
                            "projected_order_status": 1,
                            "order_fsm_state": 2,
                            "exchange_submitted": true,
                            "slot_id": "SYNTHETIC_CURRENT_OPEN_SLOT",
                            "order_id": "33333333-3333-4333-8333-333333333333"
                          }
                        ],
                        "open_order_type": 1,
                        "sl_enabled": false,
                        "slx_enabled": false,
                        "tp_enabled": false,
                        "position_fsm_state": 2,
                        "created_at": 1893456000,
                        "updated_at": 1893456000,
                        "tick_step_atomic": "1",
                        "tick_step_scale": 1,
                        "lot_step_base_atomic": "1",
                        "lot_step_base_scale": 4,
                        "min_size_base_atomic": "1",
                        "min_size_base_scale": 4,
                        "contract_value_atomic": "1",
                        "contract_value_scale": 2,
                        "funding_fee_quote_atomic": "0",
                        "funding_fee_quote_scale": 0,
                        "alloc_open_executed_atomic": "0",
                        "alloc_open_executed_scale": 0,
                        "alloc_close_executed_atomic": "0",
                        "alloc_close_executed_scale": 0,
                        "alloc_net_exposure_atomic": "0",
                        "alloc_net_exposure_scale": 0,
                        "executed_cost_quote_atomic": "0",
                        "executed_cost_quote_scale": 0,
                        "next_funding_fee_quote_atomic": "0",
                        "next_funding_fee_quote_scale": 0,
                        "next_funding_time": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Integration errors use Error; existing trading handlers retain their own JSON or text/plain error codec. Inspect status and content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-liftx-required-scope": "read",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "exchange_link_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/positions/get-for-modification": {
      "get": {
        "operationId": "get_v1_positions_get_for_modification",
        "summary": "Read canonical position get-for-modification",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Position"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": true
                },
                "examples": {
                  "synthetic": {
                    "summary": "Synthetic pending unprotected position; independent illustration",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "success": true,
                      "data": {
                        "id": "11111111-1111-4111-8111-111111111111",
                        "user_id": 1,
                        "status": 1,
                        "revision": 7,
                        "instrument_id": "COPY_EXACT_CATALOG_ID",
                        "instrument_type": 2,
                        "instrument_topology": 2,
                        "position_side": 1,
                        "base": "BTC",
                        "quote": "USDT",
                        "exchange_link_id": 17,
                        "margin_mode": 1,
                        "leverage": 2,
                        "order_grid_enabled": false,
                        "open_orders": [
                          {
                            "row_id": 1,
                            "created_at_ms": 1893456000000,
                            "price_atomic": "70000",
                            "price_scale": 0,
                            "quantity_atomic": "1",
                            "quantity_scale": 4,
                            "executed": [],
                            "projected_order_status": 1,
                            "order_fsm_state": 2,
                            "exchange_submitted": true,
                            "slot_id": "SYNTHETIC_CURRENT_OPEN_SLOT",
                            "order_id": "33333333-3333-4333-8333-333333333333"
                          }
                        ],
                        "open_order_type": 1,
                        "sl_enabled": false,
                        "slx_enabled": false,
                        "tp_enabled": false,
                        "position_fsm_state": 2,
                        "created_at": 1893456000,
                        "updated_at": 1893456000,
                        "tick_step_atomic": "1",
                        "tick_step_scale": 1,
                        "lot_step_base_atomic": "1",
                        "lot_step_base_scale": 4,
                        "min_size_base_atomic": "1",
                        "min_size_base_scale": 4,
                        "contract_value_atomic": "1",
                        "contract_value_scale": 2,
                        "funding_fee_quote_atomic": "0",
                        "funding_fee_quote_scale": 0,
                        "alloc_open_executed_atomic": "0",
                        "alloc_open_executed_scale": 0,
                        "alloc_close_executed_atomic": "0",
                        "alloc_close_executed_scale": 0,
                        "alloc_net_exposure_atomic": "0",
                        "alloc_net_exposure_scale": 0,
                        "executed_cost_quote_atomic": "0",
                        "executed_cost_quote_scale": 0,
                        "next_funding_fee_quote_atomic": "0",
                        "next_funding_fee_quote_scale": 0,
                        "next_funding_time": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Integration errors use Error; existing trading handlers retain their own JSON or text/plain error codec. Inspect status and content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-liftx-required-scope": "read",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "exchange_link_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/positions/lookup": {
      "get": {
        "operationId": "get_v1_positions_lookup",
        "summary": "Look up an authorized exact position",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Position"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": true
                },
                "examples": {
                  "synthetic": {
                    "summary": "Synthetic pending unprotected position; independent illustration",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "success": true,
                      "data": {
                        "id": "11111111-1111-4111-8111-111111111111",
                        "user_id": 1,
                        "status": 1,
                        "revision": 7,
                        "instrument_id": "COPY_EXACT_CATALOG_ID",
                        "instrument_type": 2,
                        "instrument_topology": 2,
                        "position_side": 1,
                        "base": "BTC",
                        "quote": "USDT",
                        "exchange_link_id": 17,
                        "margin_mode": 1,
                        "leverage": 2,
                        "order_grid_enabled": false,
                        "open_orders": [
                          {
                            "row_id": 1,
                            "created_at_ms": 1893456000000,
                            "price_atomic": "70000",
                            "price_scale": 0,
                            "quantity_atomic": "1",
                            "quantity_scale": 4,
                            "executed": [],
                            "projected_order_status": 1,
                            "order_fsm_state": 2,
                            "exchange_submitted": true,
                            "slot_id": "SYNTHETIC_CURRENT_OPEN_SLOT",
                            "order_id": "33333333-3333-4333-8333-333333333333"
                          }
                        ],
                        "open_order_type": 1,
                        "sl_enabled": false,
                        "slx_enabled": false,
                        "tp_enabled": false,
                        "position_fsm_state": 2,
                        "created_at": 1893456000,
                        "updated_at": 1893456000,
                        "tick_step_atomic": "1",
                        "tick_step_scale": 1,
                        "lot_step_base_atomic": "1",
                        "lot_step_base_scale": 4,
                        "min_size_base_atomic": "1",
                        "min_size_base_scale": 4,
                        "contract_value_atomic": "1",
                        "contract_value_scale": 2,
                        "funding_fee_quote_atomic": "0",
                        "funding_fee_quote_scale": 0,
                        "alloc_open_executed_atomic": "0",
                        "alloc_open_executed_scale": 0,
                        "alloc_close_executed_atomic": "0",
                        "alloc_close_executed_scale": 0,
                        "alloc_net_exposure_atomic": "0",
                        "alloc_net_exposure_scale": 0,
                        "executed_cost_quote_atomic": "0",
                        "executed_cost_quote_scale": 0,
                        "next_funding_fee_quote_atomic": "0",
                        "next_funding_fee_quote_scale": 0,
                        "next_funding_time": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Integration errors use Error; existing trading handlers retain their own JSON or text/plain error codec. Inspect status and content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-liftx-required-scope": "read",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "description": "Returns the canonical Liftx response documented below. Preserve fixed-point decimals and inspect HTTP status and Content-Type before decoding errors."
      }
    },
    "/v1/positions/pnl-history": {
      "get": {
        "operationId": "get_v1_positions_pnl_history",
        "summary": "Read canonical position P&L history",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionHistory"
                },
                "examples": {
                  "synthetic": {
                    "summary": "Synthetic position history; not current execution confirmation",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "position_id": "11111111-1111-4111-8111-111111111111",
                      "quote": "USDT",
                      "from": 1893456000,
                      "to": 1893456000,
                      "as_of": 1893456000,
                      "history_from": 1893456000,
                      "history_at": 1893456000,
                      "after": 0,
                      "complete": true,
                      "terminal": false,
                      "reset_required": false,
                      "points": [
                        {
                          "rate_at": 0,
                          "time": 1893456000,
                          "value": {
                            "atomic": "0",
                            "scale": 0
                          },
                          "complete": true,
                          "resolution": 1,
                          "gap_before": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Integration errors use Error; existing trading handlers retain their own JSON or text/plain error codec. Inspect status and content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-liftx-required-scope": "read",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "description": "Returns the canonical Liftx response documented below. Preserve fixed-point decimals and inspect HTTP status and Content-Type before decoding errors."
      }
    },
    "/v1/dashboard/history": {
      "get": {
        "operationId": "get_v1_dashboard_history",
        "summary": "Read canonical exact-link dashboard history",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/History"
                },
                "examples": {
                  "synthetic": {
                    "summary": "Synthetic complete zero-P&L sample",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "revision": "1893456000000000000",
                      "scope": {
                        "exchange_link_id": 17,
                        "environment": "demo",
                        "currency": "USDT"
                      },
                      "as_of": 1893456000,
                      "points": [
                        {
                          "rate_at": 1893456000,
                          "time": 1893456000,
                          "value": {
                            "atomic": "0",
                            "scale": 0
                          },
                          "complete": true,
                          "resolution": 1
                        }
                      ],
                      "before": 0,
                      "after": 0,
                      "selection": {
                        "market": "all",
                        "pair_id": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Integration errors use Error; existing trading handlers retain their own JSON or text/plain error codec. Inspect status and content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-liftx-required-scope": "read",
        "parameters": [
          {
            "name": "exchange_link_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pair_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Returns the canonical Liftx response documented below. Preserve fixed-point decimals and inspect HTTP status and Content-Type before decoding errors."
      }
    },
    "/v1/dashboard/pairs": {
      "get": {
        "operationId": "get_v1_dashboard_pairs",
        "summary": "Read canonical exact-link dashboard pairs",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PairOptions"
                },
                "examples": {
                  "synthetic": {
                    "summary": "Synthetic reporting pair; pair ID is not an execution instrument",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "scope": {
                        "exchange_link_id": 17,
                        "environment": "demo",
                        "currency": "USDT"
                      },
                      "market": "all",
                      "search": "",
                      "cursor": "",
                      "options": [
                        {
                          "pair_id": "7499fad9dce3c16628c505192539ea7900157cf5b576a33cc085193acc7fa8e0",
                          "base": "BTC",
                          "quote": "USDT"
                        }
                      ],
                      "next_cursor": ""
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Integration errors use Error; existing trading handlers retain their own JSON or text/plain error codec. Inspect status and content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-liftx-required-scope": "read",
        "parameters": [
          {
            "name": "exchange_link_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Returns the canonical Liftx response documented below. Preserve fixed-point decimals and inspect HTTP status and Content-Type before decoding errors."
      }
    },
    "/v1/symbols/list": {
      "get": {
        "operationId": "get_v1_symbols_list",
        "summary": "Read canonical symbols/list",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "all": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Symbol"
                          }
                        },
                        "selected": {
                          "$ref": "#/components/schemas/Symbol"
                        },
                        "hash": {
                          "type": "string"
                        },
                        "expiration": {
                          "type": "integer",
                          "format": "int64"
                        }
                      },
                      "required": [
                        "all",
                        "hash",
                        "expiration"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": true
                },
                "examples": {
                  "synthetic": {
                    "summary": "Synthetic catalog; illustrated limits are not venue defaults",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "success": true,
                      "data": {
                        "all": [
                          {
                            "instrument_id": "COPY_EXACT_CATALOG_ID",
                            "fee_schedule_id": "SYNTHETIC_FEE_SCHEDULE",
                            "base": "BTC",
                            "quote": "USDT",
                            "lot_size_atomic": "1",
                            "lot_size_scale": 4,
                            "tick_size_atomic": "1",
                            "tick_size_scale": 1,
                            "instrument_type": 2,
                            "instrument_topology": 2,
                            "leverage": 2,
                            "min_size_atomic": "1",
                            "min_size_scale": 4,
                            "contract_value_atomic": "1",
                            "contract_value_scale": 2,
                            "state": "live"
                          }
                        ],
                        "selected": {
                          "instrument_id": "COPY_EXACT_CATALOG_ID",
                          "fee_schedule_id": "SYNTHETIC_FEE_SCHEDULE",
                          "base": "BTC",
                          "quote": "USDT",
                          "lot_size_atomic": "1",
                          "lot_size_scale": 4,
                          "tick_size_atomic": "1",
                          "tick_size_scale": 1,
                          "instrument_type": 2,
                          "instrument_topology": 2,
                          "leverage": 2,
                          "min_size_atomic": "1",
                          "min_size_scale": 4,
                          "contract_value_atomic": "1",
                          "contract_value_scale": 2,
                          "state": "live"
                        },
                        "hash": "0000000000000000000000000000000000000000000000000000000000000000",
                        "expiration": 1893456300
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Integration errors use Error; existing trading handlers retain their own JSON or text/plain error codec. Inspect status and content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Supplied catalog hash is current"
          }
        },
        "x-liftx-required-scope": "read",
        "parameters": [
          {
            "name": "exchange_link_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "instrument_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "instrument_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hash",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            }
          }
        ],
        "description": "Returns the canonical Liftx response documented below. Preserve fixed-point decimals and inspect HTTP status and Content-Type before decoding errors."
      }
    },
    "/v1/symbols/trading-currencies": {
      "get": {
        "operationId": "get_v1_symbols_trading_currencies",
        "summary": "Read canonical symbols/trading-currencies",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TradingCurrencies"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": true
                },
                "examples": {
                  "synthetic": {
                    "summary": "Synthetic eligible settlement currency",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "success": true,
                      "data": {
                        "currencies": [
                          "USDT"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Integration errors use Error; existing trading handlers retain their own JSON or text/plain error codec. Inspect status and content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-liftx-required-scope": "read",
        "parameters": [
          {
            "name": "exchange_link_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Returns the canonical Liftx response documented below. Preserve fixed-point decimals and inspect HTTP status and Content-Type before decoding errors."
      }
    },
    "/v1/fee-rates/list": {
      "get": {
        "operationId": "get_v1_fee_rates_list",
        "summary": "Read canonical fee-rates/list",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "fee_rates": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FeeRate"
                          }
                        },
                        "expiration": {
                          "type": "integer",
                          "format": "int64"
                        }
                      },
                      "required": [
                        "fee_rates",
                        "expiration"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": true
                },
                "examples": {
                  "synthetic": {
                    "summary": "Synthetic fee rates; not an actual account fee tier",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "success": true,
                      "data": {
                        "fee_rates": [
                          {
                            "instrument_type": 2,
                            "fee_schedule_id": "SYNTHETIC_FEE_SCHEDULE",
                            "maker": "0.0002",
                            "taker": "0.0005"
                          }
                        ],
                        "expiration": 1893456300
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Integration errors use Error; existing trading handlers retain their own JSON or text/plain error codec. Inspect status and content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-liftx-required-scope": "read",
        "parameters": [
          {
            "name": "exchange_link_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          }
        ],
        "description": "Returns the canonical Liftx response documented below. Preserve fixed-point decimals and inspect HTTP status and Content-Type before decoding errors."
      }
    },
    "/v1/liquidation/context": {
      "get": {
        "operationId": "get_v1_liquidation_context",
        "summary": "Read canonical liquidation/context",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/LiquidationContext"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": true
                },
                "examples": {
                  "synthetic": {
                    "summary": "Synthetic isolated-margin tier; not risk or liquidation advice",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "success": true,
                      "data": {
                        "tiers": [
                          {
                            "min_size": "0",
                            "max_size": "1",
                            "maintenance_rate": "0.005"
                          }
                        ],
                        "expiration": 1893456300
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Integration errors use Error; existing trading handlers retain their own JSON or text/plain error codec. Inspect status and content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-liftx-required-scope": "read",
        "parameters": [
          {
            "name": "exchange_link_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "margin_mode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "const": 2
            }
          }
        ],
        "description": "Returns the canonical Liftx response documented below. Preserve fixed-point decimals and inspect HTTP status and Content-Type before decoding errors."
      }
    },
    "/v1/templates/list": {
      "get": {
        "operationId": "get_v1_templates_list",
        "summary": "Canonical template list",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderTemplate"
                  }
                },
                "examples": {
                  "synthetic": {
                    "summary": "Synthetic success response",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": [
                      {
                        "id": "44444444-4444-4444-8444-444444444444",
                        "user_id": 1,
                        "name": "Illustrative derivative limit",
                        "instrument_type": 2,
                        "position_side": 1,
                        "margin_mode": 1,
                        "leverage": 2,
                        "order_grid_enabled": false,
                        "open_price_deltas": [],
                        "open_quantity_percent": [
                          1000000
                        ],
                        "sl_enabled": false,
                        "sl_price_rearrangement": false,
                        "slx_enabled": false,
                        "slx_tp_trailing_enabled": false,
                        "slx_each_tp_trailing": false,
                        "slx_sl_trailing_breakeven_enabled": false,
                        "slx_sl_trigger_price_trailing_enabled": false,
                        "tp_enabled": false,
                        "tp_price_rearrangement": false,
                        "tp_grid_enabled": false,
                        "tp_pnls": [],
                        "tp_quantity_percent": [],
                        "open_order_type": 1,
                        "sl_order_type": 2,
                        "tp_order_type": 1,
                        "created_at": 1893456000,
                        "updated_at": 1893456000
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "Integration errors use Error; existing trading handlers retain their own JSON or text/plain error codec. Inspect status and content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-liftx-required-scope": "read"
      }
    },
    "/v1/templates/get": {
      "get": {
        "operationId": "get_v1_templates_get",
        "summary": "Canonical template get",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderTemplate"
                },
                "examples": {
                  "synthetic": {
                    "summary": "Synthetic success response",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "id": "44444444-4444-4444-8444-444444444444",
                      "user_id": 1,
                      "name": "Illustrative derivative limit",
                      "instrument_type": 2,
                      "position_side": 1,
                      "margin_mode": 1,
                      "leverage": 2,
                      "order_grid_enabled": false,
                      "open_price_deltas": [],
                      "open_quantity_percent": [
                        1000000
                      ],
                      "sl_enabled": false,
                      "sl_price_rearrangement": false,
                      "slx_enabled": false,
                      "slx_tp_trailing_enabled": false,
                      "slx_each_tp_trailing": false,
                      "slx_sl_trailing_breakeven_enabled": false,
                      "slx_sl_trigger_price_trailing_enabled": false,
                      "tp_enabled": false,
                      "tp_price_rearrangement": false,
                      "tp_grid_enabled": false,
                      "tp_pnls": [],
                      "tp_quantity_percent": [],
                      "open_order_type": 1,
                      "sl_order_type": 2,
                      "tp_order_type": 1,
                      "created_at": 1893456000,
                      "updated_at": 1893456000
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Integration errors use Error; existing trading handlers retain their own JSON or text/plain error codec. Inspect status and content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-liftx-required-scope": "read",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/templates/create": {
      "post": {
        "operationId": "post_v1_templates_create",
        "summary": "Canonical template create",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderTemplate"
                },
                "examples": {
                  "synthetic": {
                    "summary": "Synthetic success response",
                    "description": "Synthetic documentation data, not an account snapshot, executable market configuration or production-availability assertion. IDs, quantities, prices, times and values are illustrative.",
                    "value": {
                      "id": "44444444-4444-4444-8444-444444444444",
                      "user_id": 1,
                      "name": "Illustrative derivative limit",
                      "instrument_type": 2,
                      "position_side": 1,
                      "margin_mode": 1,
                      "leverage": 2,
                      "order_grid_enabled": false,
                      "open_price_deltas": [],
                      "open_quantity_percent": [
                        1000000
                      ],
                      "sl_enabled": false,
                      "sl_price_rearrangement": false,
                      "slx_enabled": false,
                      "slx_tp_trailing_enabled": false,
                      "slx_each_tp_trailing": false,
                      "slx_sl_trailing_breakeven_enabled": false,
                      "slx_sl_trigger_price_trailing_enabled": false,
                      "tp_enabled": false,
                      "tp_price_rearrangement": false,
                      "tp_grid_enabled": false,
                      "tp_pnls": [],
                      "tp_quantity_percent": [],
                      "open_order_type": 1,
                      "sl_order_type": 2,
                      "tp_order_type": 1,
                      "created_at": 1893456000,
                      "updated_at": 1893456000
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Integration errors use Error; existing trading handlers retain their own JSON or text/plain error codec. Inspect status and content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-liftx-required-scope": "templates:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderTemplate"
              }
            }
          }
        }
      }
    },
    "/v1/templates/update": {
      "put": {
        "operationId": "put_v1_templates_update",
        "summary": "Canonical template update",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "Integration errors use Error; existing trading handlers retain their own JSON or text/plain error codec. Inspect status and content type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-liftx-required-scope": "templates:write",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderTemplate"
              }
            }
          }
        }
      }
    },
    "/v1/templates/delete": {
      "delete": {
        "operationId": "delete_v1_templates_delete",
        "summary": "Canonical template delete",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
[...]
